table {
    display: flex;
    justify-content: center;
    align-items: center;
    .modal-image {
        width: 80px;
        height: 80px;
    }
    .desc {
        width: 400px;
    }
}
.confirm-container {
    margin-top: 35px;

    .confirm-message {
        display: flex;
        .material-icons {
            margin: -3px 5px 0 0;
        }
    }
}

.added-icon {
    margin-top: 5px;
}
