.item-controls-input {
    width: 22pt;
    height: 20pt;
    margin-left: 4pt;
    font-size: 12pt;
    text-align: center;
}

.in-stock {
    font-size: 15px;
    color: #69f0ae;
}

.out-stock {
    font-size: 15px;
    color: red;
}
